﻿@model PruebaCursoNET.Models.ContactModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Dni)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Dni, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Dni)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Nombre)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Apellido)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Apellido)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Contraseña)
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.Contraseña, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Contraseña)
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.RepetirContraseña)
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.RepetirContraseña, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.RepetirContraseña)
                </div>
            </div>

            <div class="col-md-12">
                <br>
                <input type="submit" value="Guardar">
            </div>
        </div>
    </div>
}
